@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root
{
    --main_font: 'Roboto', sans-serif;
    --secondary_font: 'Lato', sans-serif;
    --name_font: 'Zen Tokyo Zoo', cursive;

    --c_body: #F2EFE9;
    --bc_body: #252627;

    --c_header: #F2EFE9;
    --bc_header: #3B3D40;

    --c_name: #F2EFE9;
    --name_blink_speed: 5s;

    --c_contactme: #F2EFE9;
    --bc_contactme: transparent;

    --c_google: #dd4b39;
    --c_twitter: #55ACEE;
    --c_insta: #125688;
    --c_github: #101010;

    --c_aboutme: #F2EFE9;
    --bc_aboutme: #252627;

    --c_projects: #F2EFE9;
    --bc_projects: #252627;

    --c_project: #F2EFE9;
    --bc_project: #1E1F20;
    --c_project_border: #000000;

    --c_image_overlay: #F2EFE9;
    --bc_image_overlay: #1E1F20;

    --c_footer: #F2EFE9;
    --bc_footer: #252627;

    --c_line: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 10%,rgba(255, 255, 255, 0.65) 50%,
                                    rgba(255, 255, 255, 0) 90%,rgba(255, 255, 255, 0) 100%);

    --c_totop: #F2EFE9;
    --bc_totop: #000000;
    --c_totop_hover: #4570B0;
    --c_totop_border: #f0f0f0;

    --c_a: #F2EFE9;
    --bc_a: transparent;
    --c_a_hover: #4570B0;

    --bc_gap: #313335;
    --gap_speed: 10s;

    --bc_scrollbar: #0F0F0F;
    --c_scrollbar: #F2EFE9;
    --c_scrollbar_hover: #4570B0;
}

/*#region A*/

a
{
    font-family: var(--secondary_font);
    font-size: 25px;
    text-decoration: none;

    color: var(--c_a);
    background: var(--bc_a);
    background-repeat: no-repeat;
    
    border: none;
    overflow: hidden;
    outline:none;

    cursor: pointer;

    transition: color 0.2s linear;
}

.a_anim:hover
{
    color: var(--c_a_hover);
}

/*#endregion*/

/*#region Hr*/

hr
{
    background: var(--c_line);

    margin: 0 auto;
    border: none;

    height: 1px;
}

/*#endregion*/

/*#region Random*/

.gap
{
    background: black;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 3em;
}

.gap > div
{
    background: var(--bc_gap);

    width: 10em;
    height: 3em;

    position: relative;

    animation: anim_gap var(--gap_speed) infinite linear;
}

@keyframes anim_gap
{
    0%      {left: -20%;}
    90%     {left: -20%;}
    100%    {left: 100%;}
}

.anchor
{
    visibility: hidden;
    
    position: absolute;
    top: -5em;
    
    display: block;
}

::-webkit-scrollbar
{
    width: 7px;
}
  
::-webkit-scrollbar-track
{
    background: var(--bc_scrollbar);
}
   
::-webkit-scrollbar-thumb
{
    border-radius: 5px;

    background: var(--c_scrollbar);
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--c_scrollbar_hover);
}

/*#endregion*/

/*#region Html & Body*/

html
{
    font-family: var(--main_font);
    
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body
{
    color: var(--c_body);
    background: var(--bc_body);

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*#endregion*/

/*#region To Top*/

#totop
{
    font-size: 25px;
    text-decoration: none;

    color: var(--c_totop);
    background: var(--bc_totop);

    
    /*box-shadow: inset 0 0 10px #FFFFFF,
                inset 10px 0 10px #0000FF,
                inset -10px 0 10px #FF0000,
                0 0 5px 0px #FFFFFF,
                -5px 0 30px 3px #0000FF,
                5px 0 30px 3px #FF0000;*/

    box-shadow: inset 0 0 10px var(--c_totop_border),
                0 0 10px 1px var(--c_totop_border);

    opacity: 0.5;

    border: 1px var(--c_totop_border) solid;
    border-radius: 25px;
    
    width: 2em;
    height: 2em;

    position: fixed;
    bottom: 2em;
    right: 2em;

    cursor: pointer;

    display: none;
    
    z-index: 9999;
    transition: 0.2s linear;
}

#totop:hover
{
    color: var(--c_totop_hover);
    opacity: 1;
}

#totop > span
{
    position: relative;
    bottom: 3px;
}

/*#endregion*/

/*#region Header*/

header
{
    color: var(--c_header);
    background: var(--bc_header);

    width: 100%;
    height: 5em;

    position: fixed;

    z-index: 9999;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name
{
    font-family: var(--name_font);
    font-size: 20px;
    text-align: center;

    color: var(--c_name);
    
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: anim_name var(--name_blink_speed) infinite linear;
}

#headerbuttons > a
{
    margin-left: 30px;
}

#headergap
{
    height: 5em;
}

@keyframes anim_name
{
    45%     {opacity: 1; font-size: 20px;}
    50%     {opacity: 0.2; font-size: 19px;}
    55%     {opacity: 1; font-size: 20px;}
}

/*#endregion*/

/*#region Welcome*/

#welcome
{
    width: 100%;
    height: calc(100vh - 5em);

    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome > h1
{
    font-family: var(--name_font);
    font-size: 15em;
}

/*#endregion*/

/*#region About Me*/

#aboutme
{
    text-align: center;

    color: var(--c_aboutme);
    background: var(--bc_aboutme);

    width: 100%;
    height: 20em;

    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutme > div
{
    width: 40%;
}

/*#endregion*/

/*#region Projects*/

#projects
{
    font-family: var(--main_font);
    text-align: center;

    color: var(--c_projects);
    background: var(--bc_projects);

    width: 100%;
    height: auto;

    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projectscontainer
{
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;

    justify-content: center;
    align-items: center;
}

.project
{
    color: var(--c_project);
    background: var(--bc_project);

    height: 26em;

    border: var(--c_project_border) 2px solid;
}

.project > a
{
    all: unset;

    display: block;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

.project > a > h2
{
    line-height: 0;
}

.projectimg
{
    width: 480px;
    height: 360px;

    padding: 7.5px;

    position: relative;
}

.projectimg > img
{
    width: inherit;
    height: inherit;
}

.imageoverlay
{
    content-visibility: hidden;

    background: var(--bc_image_overlay);
    
    opacity: 0.8;
    
    overflow: hidden;
    
    width: 100%;
    height: 0;

    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}

.imageoverlay > p
{
    font-size: 25px;

    color: var(--c_image_overlay);
    
    overflow: hidden;
    padding: 0 100px 0 100px;
}

.project:hover
{
    box-shadow: 3px 0 20px 1px red,
                -3px 0 20px 1px blue;
}

.project:hover .imageoverlay
{
    content-visibility: visible;
    
    height: 100%;

    bottom: 0;
}

/*#endregion*/

/*#region Contact Me*/

#contactme
{
    background: var(--bc_contactme);
    
    width: 17.5em;
    height: 5em;
    
    white-space: nowrap;
    overflow: hidden;

    position: fixed;
    right: -17.5em;

    z-index: 9999;
    transition: right 0.3s ease;
}

#contactme > span
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa
{
    font-size: 30px;
    font-weight: bold;
    
    text-align: center;
    text-decoration: none;

    color: var(--c_contactme);

    box-shadow: inset 0 0 7px 1px #FFFFFF;

    opacity: 0.8;
    
    padding: 10px;
    
    border-radius: 2px;
    
    cursor: pointer;

    transition: all 0.2s linear;
}
  
.fa:hover
{
    opacity: 1;
}

.fa-github
{
    background: var(--c_github);
}

.fa-github:hover
{
    box-shadow: inset 0 0 7px 1px #FFFFFF,
                0 0 7px 1px var(--c_github);
}

.fa-google
{
    background: var(--c_google);
}

.fa-google:hover
{
    box-shadow: inset 0 0 7px 1px #FFFFFF,
                0 0 7px 1px var(--c_google);
}

.fa-twitter
{
    background: var(--c_twitter);
}

.fa-twitter:hover
{
    box-shadow: inset 0 0 7px 1px #FFFFFF,
                0 0 7px 1px var(--c_twitter);
}
  
.fa-instagram
{
    background: var(--c_insta);
}

.fa-instagram:hover
{
    box-shadow: inset 0 0 7px 1px #FFFFFF,
                0 0 7px 1px var(--c_insta);
}

/*#endregion*/

/*#region Footer*/

footer
{
    font-family: var(--main_font);

    color: var(--c_footer);
    background: var(--bc_footer);
    
    width: 100%;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*#endregion*/